
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #3b82f6, #000);
}


.log{
    width: 400px;
    height: auto;
    padding: 30px 20px;
    margin: 100px auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);

    text-align: center;
}


h1{
    color: #fff;
    font-size: 42px;
    margin-bottom: 10px;
}

h4{
    color: #dcdcdc;
    margin-bottom: 30px;
}


#username,
#password{
    width: 280px;
    height: 40px;
    padding: 8px 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ffffff70;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    outline: none;
    transition: .3s ease;
}

#username:focus,
#password:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 8px #3b82f6;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-button {
    width: 120px;
    height: 40px;
    background: #2563eb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}

.login-button:hover{
    background: #1d4ed8;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(56, 129, 118);
}

.login-button a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: auto;
}

.login-button:hover a{
    line-height: 60px;
    font-size: 22px;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #2563eb;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 45px;
    font-weight: 700;
    color: white;

    margin: 0 auto 20px auto;
    box-shadow: 0 0 15px rgba(37, 99, 235, 0.5);
}

.img-logo{
    width: 120px;
    height: 120px;
    margin: 0 auto 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.img-logo img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}