
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: radial-gradient(circle at center, #3b82f6, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 450px;
    padding: 20px;
}


.signup-box{
    width: 100%;
    padding: 35px 30px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    text-align: center;
}


.signup-box h1{
    color: #fff;
    font-size: 35px;
    margin-bottom: 5px;
}

.subtitle{
    color: #e8e8e8;
    font-size: 15px;
    margin-bottom: 25px;
}


.input-group{
    text-align: left;
    margin-bottom: 20px;
}

.input-group label{
    color: #e5e5e5;
    font-size: 14px;
}

.input-group input{
    width: 100%;
    height: 42px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffffff70;
    background: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    outline: none;
    transition: 0.3s ease;
}



.signup-button{
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 10px;

    color: white;
    background: #2563eb;
    transition: 0.3s ease;
}

.signup-button:hover{
    background: #1e40af;
    transform: scale(1.05);
}
.signup-button:hover a{
    line-height: 45px;
    font-size: 19px;
    padding: auto;
}
.signup-button a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: auto;
}


.login-link{
    margin-top: 20px;
    font-size: 14px;
    color: #dcdcdc;
}

.login-link a{
    color: #93c5fd;
    text-decoration: none;
}

.login-link a:hover{
    text-decoration: underline;
}

